<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <head>

        <title >标题</title>

        <!--全局通用框架样式 begin-->

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <script type="text/javascript" language="JavaScript" src="/js/jquery-1.6.2.min.js"></script>
</head>
<body>
<h1>请输入个人信息</h1>
<div style="width:500px;height:30px;">
<input type="text" name="name" id="name" placeholder="请输入真实名字" style="float:left;"
       oninput="hidetip('name')" onpropertychange="hidetip('name')"/>
<div id="name_tip" style="margin-left:10px;width:200px;height:20px;float:left;color:#ff0000;font-size:14px;"></div>
</div>

<div style="width:500px;height:30px;">
<input type="text" name="age" id="age" placeholder="请输入年龄" style="float:left;"
       oninput="hidetip('age')" onpropertychange="hidetip('age')"/>
<div id="age_tip" style="margin-left:10px;width:200px;height:20px;float:left;color:#ff0000;font-size:14px;"></div>
</div>
<div style="width:500px;height:30px;">
<input type="text" name="mobile" id="mobile" placeholder="请输入手机号" style="float:left;"
       oninput="hidetip('mobile')" onpropertychange="hidetip('mobile')"/>
<div id="mobile_tip" style="margin-left:10px;width:200px;height:20px;float:left;color:#ff0000;font-size:14px;"></div>
</div>
<div style="width:500px;height:30px;">
<input type="text" name="email" id="email" placeholder="请输入邮箱" style="float:left;"
       oninput="hidetip('email')" onpropertychange="hidetip('email')"/>
<div id="email_tip" style="margin-left:10px;width:200px;height:20px;float:left;color:#ff0000;font-size:14px;"></div>
</div>

<div style="width:500px;height:30px;">
    <input type="text" name="password" id="password" placeholder="请输入密码" style="float:left;"
           oninput="hidetip('password')" onpropertychange="hidetip('password')"/>
    <div id="password_tip" style="margin-left:10px;width:200px;height:20px;float:left;color:#ff0000;font-size:14px;"></div>
</div>

<div style="width:500px;height:30px;">
    <input type="text" name="confirmPassword" id="confirmPassword" placeholder="请重复输入密码" style="float:left;"
           oninput="hidetip('confirmPassword')" onpropertychange="hidetip('confirmPassword')"/>
    <div id="confirmPassword_tip" style="margin-left:10px;width:200px;height:20px;float:left;color:#ff0000;font-size:14px;"></div>
</div>

<div>
<input type="button" name="" value="提交表单" onclick="sumbit()" />
</div>

<script>

    var name_tip= '名字不可为空';
    var age_tip= '年龄不可为空';
    var mobile_tip= '手机号不可为空';
    var email_tip= '邮箱不可为空';
    var password_tip= '密码不可为空';
    var confirmPassword_tip= '重复输入密码不可为空';


    function hidetip(input) {
        if ($("#"+input).val() != "") {
            $("#"+input+"_tip").html('');
        } else {
            if (input == 'name') {
                $("#"+input+"_tip").html(name_tip);
            } else if (input == 'age') {
                $("#"+input+"_tip").html(age_tip);
            } else if (input == 'mobile') {
                $("#"+input+"_tip").html(mobile_tip);
            } else if (input == 'email') {
                $("#"+input+"_tip").html(email_tip);
            } else if (input == 'password') {
                $("#"+input+"_tip").html(password_tip);
            } else if (input == 'confirmPassword') {
                $("#"+input+"_tip").html(confirmPassword_tip);
            }

        }
    }

    function sumbit(){
        if ($("#name").val() == "") {
            //var tip= '名字 is empty';
            alert(name_tip);
            $("#name_tip").html(name_tip);
            $("#name").focus();
            return false;
        }

        if ($("#age").val() == "") {
            //alert('年龄 is empty');
            //var tip= '年龄 is empty';
            alert(age_tip);
            $("#age_tip").html(age_tip);
            $("#age").focus();
            return false;
        }

        if ($("#mobile").val() == "") {
            //alert('');
            //var tip= '手机号 is empty';
            alert(mobile_tip);
            $("#mobile_tip").html(mobile_tip);
            $("#mobile").focus();
            return false;
        }

        if ($("#email").val() == "") {
            //var tip= '邮箱 is empty';
            alert(email_tip);
            //alert('');
            $("#email_tip").html(email_tip);
            $("#email").focus();
            return false;
        }

        if ($("#password").val() == "") {
            //var tip= '邮箱 is empty';
            alert(password_tip);
            //alert('');
            $("#password_tip").html(password_tip);
            $("#password").focus();
            return false;
        }

        if ($("#confirmPassword").val() == "") {
            //var tip= '邮箱 is empty';
            alert(confirmPassword_tip);
            //alert('');
            $("#confirmPassword_tip").html(confirmPassword_tip);
            $("#confirmPassword").focus();
            return false;
        }


        var postdata = {
            name:$("#name").val(),
            age:$("#age").val(),
            mobile:$("#mobile").val(),
            email:$("#email").val(),
            password:$("#password").val(),
            confirmPassword:$("#confirmPassword").val(),
        }

        $.ajax({
            type:"POST",
            url:"/home/usersaveed",
            data:postdata,
            //返回数据的格式
            datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
            //在请求之前调用的函数
            // beforeSend:function(){$("#msg").html("logining");},
            //成功返回之后调用的函数
            success:function(data){
                //$("#msg").html(decodeURI(data));
                //alert(data);
                //alert("status:"+data.status);
                if (data.code == 0) {
                    alert('save success');
                    //go
                    //window.location.href="/channel/channellist";
                } else {
                    if (data.msg.indexOf(":") != -1) {

                        var arr = data.msg.split(":");
                        //alert("failed:field:"+arr[0]+";msg:"+arr[1]);
                        alert("failed:"+arr[1]);
                        if (arr[0] == 'name') {
                            $("#name_tip").html(arr[1]);
                            $("#name").focus();
                        } else if (arr[0] == 'age') {
                            $("#age_tip").html(arr[1]);
                            $("#age").focus();
                        } else if (arr[0] == 'mobile') {
                            $("#mobile_tip").html(arr[1]);
                            $("#mobile").focus();
                        } else if (arr[0] == 'email') {
                            $("#email_tip").html(arr[1]);
                            $("#email").focus();
                        } else if (arr[0] == 'password') {
                            $("#password_tip").html(arr[1]);
                            $("#password").focus();
                        } else if (arr[0] == 'confirmPassword') {
                            $("#confirmPassword_tip").html(arr[1]);
                            $("#confirmPassword").focus();
                        }


                    } else {
                        alert("failed:"+data.msg);
                    }
                }
            },
            //调用执行后调用的函数
            complete: function(XMLHttpRequest, textStatus){
                //alert(XMLHttpRequest.responseText);
                //alert(textStatus);
                //HideLoading();
            },
            //调用出错执行的函数
            error: function(){
                //请求出错处理
            }
        });
    }
</script>


</body>
</html>
